.pixel-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.pixel-card {
    height: 200px;
    width: 150px;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
    aspect-ratio: 4 / 5;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    isolation: isolate;
    transition: border-color 200ms cubic-bezier(0.5, 1, 0.89, 1);
    user-select: none;
    background-color: white;
    z-index: 10;
}

.pixel-card::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    aspect-ratio: 1;
    background: radial-gradient(circle, #f5f5f5, transparent 85%);
    opacity: 0;
    transition: opacity 800ms cubic-bezier(0.5, 1, 0.89, 1);
}

.pixel-card:hover::before,
.pixel-card:focus-within::before {
    opacity: 1;
}

.pixel-card-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    z-index: 10;
    pointer-events: none;
}